@import url('style.css');

main {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    padding: 8rem 0;
}
.form-contact {
    background-color: var(--bg-color);
    width: 800px;
    max-width: 800px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 40px -4px var(--blue);
}
.form-contact h2 {
    text-align: center;
    color: var(--white);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--blue);
    margin-bottom: 4rem;
}
.form-contact div {
    margin: 2rem;
}
.form-contact label {
    color: var(--white);
    display: inline-block;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    
}
.form-contact input {
    background-color: var(--bg-color);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--blue);
    color: var(--white);
}
.form-contact textarea {
    resize: vertical;
    outline: none;
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--white);
}
.form-contact div:last-of-type {
    text-align: center;
}
.form-contact button {
    padding: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 10px;
    border: 2px solid var(--blue);
    font-size: 1rem;
    font-weight: 600;
    background: none;
    color: var(--blue);
}
.form-contact button:hover {
    color: var(--white);
    border: 2px solid var(--white);
    transition: 250ms;
}