@import url(/css/style.css);

main {
    background-color: var(--black);
    padding: 4rem 4rem;
}
main section {
    text-align: center;
}
.c-microinfo {
    color: var(--white);
}
main div img {
    width: 40%;
    height: 300px;
}